#viz{
  width: 100vw;
  height: 100vh;
}
.nodes{
 margin: 50px;
 padding: 30px;
 position: relative;
 z-index: 10;
}
.edges {
 stroke: #3d5142;
 position: relative;
 z-index: -1;
 display: none;
}

.label{
   display: none;
}
.endLabel{
   display: none;
}
.makeViz{
  display: block;
}
body {
 background-color: #dce5d3 ;
 overflow: scroll;
}
/*overflow y scroll
move labels so that they're not on the circles
fix end label positioning 
*/
