#viz{
  width: 100vw;
  height: 100vh;
}
.nodes{
 margin: 50px;
 padding: 30px;
}
.edges {
 stroke: #3d5142;
 display: none;
}

.label{
  display: none;
  font-family: 'Rajdhani', sans-serif;
}
.endLabel{
  display: none;
  font-family: 'Rajdhani', sans-serif;
}
.makeViz{
  display: block;
}
h1 {
 font-family: 'Rajdhani', sans-serif;
 text-align: center;
}
body {
 background-color: #dce5d3 ;
 overflow: scroll;
}



